::ng-deep app-assign-homeroom-teaching {
  hr{
      margin: 0.3% 0 1% 0;
  }
  .customYear {
    float: left;
    width: 60%;
    max-width: 60%;
  }
  .customGrade {
    float: left;
    max-width: 70.333333%;
  }
  .customCheckbox2 {
    position: relative;
    top: 3px;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.6em;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .table td,
  .table th {
    padding: 0.5rem;
    vertical-align: inherit;
  }

  .table-filter-row td {
    padding: 0;
  }

  @media only screen and (max-width: 576px) {
    .customYear {
      max-width: 100%;
      width: 100%;
    }
    .customGrade {
      float: left;
      max-width: 100%;
      width: 100%;
    }
    .btnFilter{
      top: 8px;
    }
    hr{
      margin: 3% 0 3% 0;
    }
  }
  @media only screen and (max-width: 575px){
    .btnFilter{
      top: 8px;
    }
    hr{
      margin: 3% 0 3% 0;
    }
  }
}
