<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container" style="width: 46em; height: initial; margin: auto;">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="card-group" style="margin-top: 50px;">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                                    <h1 class="text-align"
                                        style="text-align: center;font-size: 1.3em;margin-bottom: 2em;">
                                        Quên Mật Khẩu</h1>
                                        <!-- <alert></alert> -->
                                    <div class="input-group mb-3"  style="width:initial; margin: auto;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" id="email" placeholder="Email" formControlName="email"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email không được để trống</div>
                                            <div *ngIf="f.email.errors.email">Email không hợp lệ</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="padding-top: 4%;">
                                        <div class="row" style="float: right;">
                                            <button class="col-md-12" id="Send" [disabled]="loading"
                                                class="btn btn-primary">
                                                <span *ngIf="loading"
                                                    class="spinner-border spinner-border-sm mr-1"></span>
                                                <i class="fa fa-paper-plane"></i>&nbsp;Gửi
                                            </button>
                                            &nbsp;
                                            <button class="col-md-12" class="btn btn-danger" (click)="goBack()">
                                                <i class="fa fa-ban"></i>&nbsp;Hủy
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
