@media only screen and(min-width: 2560px) {
  .customYear {
    float: left;
    width: 63%;
    max-width: 100%;
  }

  .customClass {
    float: left;
    width: 79%;
    max-width: 100%;
  }

  .customSemester {
    float: left;
    width: 79%;
    max-width: 100%;
  }

  #format-text-input input {
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 105%;
    border: transparent;
    background-color: transparent;
  }

  #format-text-input select {
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 105%;
    border: transparent;
    background-color: transparent;
  }
}

@media only screen and(max-width: 2559px) {
  .customYear {
    float: left;
    width: 63%;
    max-width: 100%;
  }

  .customClass {
    float: left;
    width: 79%;
    max-width: 100%;
  }

  .customSemester {
    float: left;
    width: 79%;
    max-width: 100%;
  }

  #format-text-input input {
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 105%;
    border: transparent;
    background-color: transparent;
  }

  #format-text-input select {
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 105%;
    border: transparent;
    background-color: transparent;
  }
}

@media only screen and(max-width: 1912px) {
  .customYear {
    float: left;
    width: 57%;
    max-width: 100%;
  }

  .customClass {
    float: left;
    width: 57%;
    max-width: 100%;
  }

  .customSemester {
    float: left;
    width: 52%;
    max-width: 100%;
  }
}

@media only screen and(max-width: 1515px) {
  .customYear {
    float: left;
    width: 57%;
    max-width: 100%;
  }

  .customClass {
    float: left;
    width: 57%;
    max-width: 100%;
  }

  .customSemester {
    float: left;
    width: 52%;
    max-width: 100%;
  }

  // #format-text-input select{
  //     right: 2px;
  //     position: relative;
  //     padding: 5px;
  //     margin: 5px 0;
  //     outline: none;
  //     width: 116%;
  //     border: transparent;
  //     background-color: transparent;
  // }
  // #format-text-input input {
  //     right: 2px;
  //     position: relative;
  //     padding: 5px;
  //     margin: 5px 0;
  //     outline: none;
  //     width: 116%;
  //     border: transparent;
  //     background-color: transparent;
  //   }
}

@media only screen and(max-device-width: 1366px) {
  #format-text-input select {
    right: 2px;
    position: relative;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 116%;
    border: transparent;
    background-color: transparent;
  }

  #format-text-input input {
    right: 2px;
    position: relative;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 116%;
    border: transparent;
    background-color: transparent;
  }

}

@media only screen and(max-width: 1365px) {
  #format-text-input select {
    right: 2px;
    position: relative;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 129%;
    border: transparent;
    background-color: transparent;
  }

  #format-text-input input {
    right: 2px;
    position: relative;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 129%;
    border: transparent;
    background-color: transparent;
  }

}

@media only screen and(max-width: 540px) {
  .customYear {
    float: left;
    width: 100%;
    max-width: 100%;
  }

  .customClass {
    float: left;
    width: 100%;
    max-width: 100%;
  }

  .customSemester {
    float: left;
    width: 100%;
    max-width: 100%;
  }

  .btnFilter {
    margin-top: 1em;
  }
}

#format-text-input input {
  // padding: 5px;
  // margin: 5px 0;
  // outline: none;
  // width: 105%;
  // border: transparent;
  // background-color: transparent;
}

#format-text-input input:focus,
#format-text-input input:active {
  border-color: transparent;
  border-bottom: 2px solid #1c87c9;
}

#format-text-input select {
  // padding: 5px;
  // margin: 5px 0;
  // outline: none;
  // width: 105%;
  // border: transparent;
  // background-color: transparent;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#format-text-input select:focus,
#format-text-input select:active {
  border-color: transparent;
  border-radius: 2px solid #1c87c9;
  -moz-appearance: auto;
  -webkit-appearance: auto;
  appearance: auto;
}

//cho nhập số
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 4px;
  vertical-align: middle;
}

//đổi màu 2 hàng
// #customers tr:nth-child(even) {
//   background-color: #f2f2f2;
// }

//hàng được chọn đổi màu
 tr:hover {
  background-color: #eee8e8dc;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
