<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container" style="width: 46em; height: initial; margin: auto;">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="card-group" style="margin-top: 50px;">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
                  <h1 class="text-align" style="text-align: center;font-size: 1.3em;margin-bottom: 2em;">
                    Quên Mật Khẩu</h1>
                  <!-- <alert></alert> -->
                  <!-- <div style="margin-bottom: 10px; padding: 1% " *ngIf="message_error" class="alert alert-danger mt-3 ">{{message_error}}</div>
                                    <div style="margin-bottom: 10px; padding: 1% " *ngIf="message_success" class="alert alert-primary mt-3">{{message_success}}</div> -->
                  <div class="input-group mb-3" style="width:initial; margin: auto;">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" id="newPassword" placeholder="Mật khẩu mới" formControlName="newPassword"
                      class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.newPassword.errors.required">Mật khẩu mới không được để trống</div>
                      <div *ngIf="f.newPassword.errors.pattern">Sử dụng 6 ký tự trở lên và kết hợp với chữ hoa, chữ thường và chữ số</div>
                      <!-- <div *ngIf="f.newPassword.errors.minlength">Mật khẩu không được nhỏ hơn 6 ký tự
                      </div> -->
                      <div *ngIf="f.newPassword.errors.newPassword">Mật khẩu không đúng</div>
                    </div>
                  </div>

                  <div class="input-group mb-4" style="width:initial; margin: auto;">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" id="confirmPassword" placeholder="Nhập lại mật khẩu"
                      formControlName="confirmPassword" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Nhập lại mật khẩu mới không được để trống</div>
                      <!-- <div *ngIf="f.confirmPassword.errors.minlength">Mật khẩu không được nhỏ hơn 6 ký tự
                      </div> -->
                      <!-- <div *ngIf="f.confirmPassword.errors.confirmPassword">Mật khẩu không đúng</div> -->
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Mật khẩu không trùng khớp</div>
                    </div>
                  </div>

                  <!-- <div class="input-group mb-4" style="width:initial; margin: auto;">
                    <small *ngIf="checkPassword === false && submitted" style="position: relative;bottom: 19px;color: rgb(220,53,69);">Mật khẩu mới và mật khẩu cũ không trùng khớp. Vui lòng kiểm tra lại!</small>
                  </div> -->

                  <div class="col-md-12" style="padding-top: 4%;">

                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

                    <div class="col-md-12">

                      <div class="row" style="float: right;">
                        <button class="col-md-12" id="Send" [disabled]="loading" class="btn btn-primary">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          <i class="fa fa-paper-plane"></i>&nbsp;Gửi
                        </button>
                        &nbsp;
                        <button class="col-md-12" class="btn btn-danger" (click)="goBack()">
                          <i class="fa fa-ban"></i>&nbsp;Hủy
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
