
/* / Extra small devices (portrait phones, less than 576px) / */
/* @media (max-width: 575.98px) {
  .customcustomYear{
    max-width: 100%;
    width: 100% ;
    float: right;
  }
  .customSemester {
    max-width: 100%;
    width: 100% ;
    float: right;
  }
  .customGrade {
    max-width: 100%;
    width: 100% ;
    float: right;
  }
  .customClass {
    max-width: 100%;
    width: 100% ;
    float: right;
  }
  #btn-margin {
    margin-top: 0.8em;
  }
  .filter_search{
    margin-top:8px;
  }

} */

/* / Small devices (landscape phones, 576px and up) / */
/* @media (min-width: 576px) and (max-width: 767.98px) {
  .customcustomYear{
    max-width: 70%;
    width: 70% ;
    float: right;
  }
  .customSemester {
    max-width: 70%;
    width: 70% ;
    float: right;
  }
  .customGrade {
    max-width: 70%;
    width: 70% ;
    float: right;
  }
  .customClass {
    max-width: 70%;
    width: 70% ;
    float: right;
  }
  .col-sm-6 {
    margin-bottom: 0.5em;
  }
} */

/* / Medium devices (tablets, 768px and up) / */
/* @media (min-width: 768px) and (max-width: 991.98px) {
  .customcustomYear{
    max-width: 50%;
    width: 50% ;
    float: right;
  }
  .customSemester {
    max-width: 50%;
    width: 50% ;
    float: right;
  }
  .customGrade {
    max-width: 50%;
    width: 50% ;
    float: right;
  }
  .customClass {
    max-width: 50%;
    width: 50% ;
    float: right;
  }
  .col-sm-6 {
    margin-bottom: 0.5em;
  }
} */

/* / Large devices (desktops, 992px and up) / */
/* @media (min-width: 992px) and (max-width: 1199.98px) {
  .customcustomYear{
    max-width: 66%;
    width: 66% ;
    float: right;
  }
  .customSemester {
    max-width: 66%;
    width: 66% ;
    float: right;
  }
  .customGrade {
    max-width: 66%;
    width: 66% ;
    float: right;
  }
  .customClass {
    max-width: 66%;
    width: 66% ;
    float: right;
  }
} */

/* / Extra large devices (large desktops, 1200px and up) / */
/* @media (min-width: 1200px) {
  .customYear{
    max-width: 68%;
    width: 68% ;
    float: right;
  }
  .customSemester {
    max-width: 66%;
    width: 66% ;
    float: right;
  }
  .customGrade {
    max-width: 68%;
    width: 68% ;
    float: right;
  }
  .customClass {
    max-width: 68%;
    width: 68% ;
    float: right;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 22.9%;
}
} */
/* .multiselect-dropdown[_ngcontent-pad-c98] .dropdown-btn[_ngcontent-pad-c98] {
  width: 110%;
} */



@media only screen and (min-width: 2560px){
  .customGrade {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;

  }

  .customClass {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;

  }

  .customSemester {
    max-width: 70%;
    width: 70%;
    float: left;
    margin-left: 0.5em;
  }
  .customYear{
    max-width: 60%;
    width: 60%;
    float: left;
    margin-left: 0.5em;
  }

  .customSemester {
    max-width: 66%;
    width: 66%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 22.9%;
  }
}
@media only screen and (min-width: 1980px){
  .customGrade {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;
  }
  .customClass {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;
  }
  .customSemester {
    max-width: 70%;
    width: 70%;
    float: left;
    margin-left: 0.5em;
  }
  .customYear{
    max-width: 60%;
    width: 60%;
    float: left;
    margin-left: 0.5em;
  }

  .customSemester {
    max-width: 66%;
    width: 66%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 22.9%;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1979px){
  .customYear{
    max-width: 60%;
    width: 60%;
    float: left;
    margin-left: 0.5em;
  }
  .customSemester {
    max-width: 70%;
    width: 70%;
    float: left;
    margin-left: 0.5em;
  }
  .customGrade {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;
  }
  .customClass {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 22.9%;
  }
}
@media only screen and (device-width: 1440px){
  .customYear{
    max-width: 60%;
    width: 60%;
    float: left;
    margin-left: 0.5em;
  }
  .customSemester {
    max-width: 70%;
    width: 70%;
    float: left;
    margin-left: 0.5em;
  }
  .customGrade {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;
  }
  .customClass {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 22.9%;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1439px){
  .customYear{
    max-width: 60%;
    width: 60%;
    float: left;
    margin-left: 0.5em;
  }
  .customSemester {
    max-width: 70%;
    width: 70%;
    float: left;
    margin-left: 0.5em;
  }
  .customGrade {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;
  }

  .customClass {
    max-width: 78%;
    width: 78%;
    float: left;
    margin-left: 0.5em;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 22.9%;
  }
}
@media only screen and (device-width: 1366px){
  .customYear{
    max-width: 68%;
    width: 68% ;
    float: right;
  }
  .customSemester {
    max-width: 74%;
    width: 74% ;
    float: right;
  }
  .customGrade {
    max-width: 80%;
    width: 80% ;
    float: right;
  }
  .customClass {
    max-width: 82%;
    width: 82% ;
    float: right;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 22.9%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1365px){
  .customYear{
    max-width: 100%;
    width: 100%;
    float: right;
    margin-bottom: 8%;

  }
  .customSemester {
    max-width: 100%;
    width: 100%;
    float: right;
    margin-bottom: 8%;
  }
  .customGrade {
    max-width: 100%;
    width: 100%;
    float: right;
    margin-bottom: 8%;

  }
  .customClass {
    max-width: 100%;
    width: 100%;
    float: right;
    margin-bottom: 8%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 22.9%;
  }
}
@media only screen and (device-width: 1024px){
  .customGrade {
    max-width: 66%;
    width: 66%;
    float: right;
    margin-bottom: 0.5em;
  }
  .customClass {
    max-width: 66%;
    width: 66%;
    float: right;
    margin-bottom: 0.5em;
  }
  #custom_semester{
    float: left;
    position: relative;
    right: 74px;
  }
  .customSemester {
    max-width: 49%;
    width: 66%;
    float: right;
    margin-bottom: 0.5em;
    right: 190px;
  }
  .customYear{
    max-width: 54%;
    width: 66%;
    float: right;
    margin-left: 0.5em;
    right: 73px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px){
  .customGrade {
    max-width: 66%;
    width: 66%;
    float: right;
    margin-bottom: 0.5em;
    right: 15px;
  }
  .customClass {
    max-width: 76%;
    width: 76%;
    float: right;
    margin-bottom: 0.5em;
    right: 2px;
  }
  #custom_semester{
    float: left;
    position: relative;
    right: 74px;
  }
  .customSemester {
    max-width: 49%;
    width: 66%;
    float: right;
    margin-bottom: 0.5em;
    right: 173px;
  }
  .customYear{
    max-width: 54%;
    width: 66%;
    float: right;
    margin-left: 0.5em;
    right: 73px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px){
  .customGrade {
    max-width: 66%;
    width: 66%;
    float: right;
    margin-bottom: 0.5em;
    right: 15px;

  }
  .customClass {
    max-width: 76%;
    width: 76%;
    float: right;
    margin-bottom: 0.5em;
    right: 2px;
  }
  #custom_semester{
    position: relative;
    right: 1px;
  }
  .customSemester {
    max-width: 50%;
    width: 50%;
    float: right;
    margin-bottom: 0.5em;
    right: 100px;
  }
  .customYear{
    max-width: 54%;
    width: 66%;
    float: right;
    margin-left: 0.5em;
    right: 73px;
  }
}
@media only screen and (device-width: 768px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (device-width: 767px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 766px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 539px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (device-width: 425px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 424px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (device-width: 414px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (min-width: 412px) and (max-width: 413px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (device-width: 411px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 410px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (device-width: 375px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 374px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (device-width: 360px){
  .filter_search{
    margin-top: 8px;
  }
  .hienthiOption1{
    position: relative;
    right: 16%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 359px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (device-width: 320px){
  .filter_search{
    margin-top: 8px;
  }
  .hienthiOption1{
    position: relative;
    right: 16%;
  }
}
@media only screen and (min-width: 281px) and (max-width: 319px){
  .filter_search{
    margin-top: 8px;
  }
}
@media only screen and (device-width: 280px){
  .filter_search{
    margin-top: 8px;
  }
  .hienthiOption1{
    position: relative;
    right: 16%;
  }
}
@media only screen and (max-width: 279px){
  .filter_search{
    margin-top: 8px;
  }
  .hienthiOption1{
    position: relative;
    right: 16%;
  }
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.6rem;
}
#tblUserAccount td {
  padding: 0.6em;
}
div.upload {
  background-color:#fff;
  border: 1px solid #ddd;
  border-radius:5px;
  display:inline-block;
  height: 34px;
  padding: 0px 10px 0px 3px;
  position:relative;
  width: auto;
}

div.upload:hover {
  opacity:0.95;
}

div.upload input[type="file"] {
  display: input-block;
  width: 100%;
  height: 40px;
  opacity: 0;
  cursor:pointer;
  position:absolute;
  left:0;
}
.uploadButton {
  background-color: #425F9C;
  border: none;
  border-radius: 3px;
  color: #FFF;
  cursor:pointer;
  display: inline-block;
  height: 30px;
  margin-right:15px;
  width: auto;
  padding:0 20px;
  box-sizing: content-box;
  margin-top: 1px;
}

.fileName {
  font-family: Arial;
  font-size:14px;
}

.upload + .uploadButton {
  height:38px;
}

.marginButton {
  margin: 0.2em;
}



.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* checkboxGrid */
.checkboxTable {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxTable input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxTable:hover .checkmarkGrid{
  background:#ccc;
}
/* Create a custom checkbox */
.checkmarkGrid {
  position: absolute;
  top: -4px;
  left: 37%;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxTable:hover input ~ .checkmarkGrid {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxTable input:checked ~ .checkmarkGrid {
  background-color: #2196F3;
}

/* Create the checkmarkGrid/indicator (hidden when not checked) */
.checkmarkGrid:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmarkGrid when checked */
.checkboxTable input:checked ~ .checkmarkGrid:after {
  display: block;
}

/* Style the checkmarkGrid/indicator */
.checkmarkGrid:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }

  25% {
    height: 0;
    width: 10px;
  }

  50% {
    height: 20px;
    width: 10px;
  }
}

.checkbox {
  background-color: #fff;
  display: inline-block;
  height: 28px;
  margin: 0 .25em;
  width: 28px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.checkbox span {
  display: block;
  height: 28px;
  position: relative;
  width: 28px;
  padding: 0
}

.checkbox span:after {
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  content: '';
  display: block;
  height: 20px;
  left: 3px;
  position: absolute;
  top: 15px;
  width: 10px
}

.checkbox span:hover:after {
  border-color: #999
}

.checkbox input {
  display: none
}

.checkbox input:checked+span:after {
  -webkit-animation: check .8s;
  -moz-animation: check .8s;
  -o-animation: check .8s;
  animation: check .8s;
  border-color: #555
}

.checkbox input:checked+.default:after {
  border-color: #444
}

.checkbox input:checked+.primary:after {
  border-color: #2196F3
}

.checkbox input:checked+.success:after {
  border-color: #8bc34a
}

.checkbox input:checked+.info:after {
  border-color: #3de0f5
}

.checkbox input:checked+.warning:after {
  border-color: #FFC107
}

.checkbox input:checked+.danger:after {
  border-color: #f44336
}

.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  caret-color: #f44336;
}

.container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  padding-left: 40px;
  margin-bottom: 10px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 27px;
  background: #eee;
  border-radius: 3px;
}

.container:hover .checkmark {
  background: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark:after {
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.container input:checked~.checkmark {
  background: #2196F3;
}

.container input:checked~.checkmark:after {
  display: block;
}


@media only screen and (max-width: 700px) and (min-width: 572px){
  .table-responsive-sm{
    display: none;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  #btnUserAccount {
    margin-top: 2%;
    margin-bottom: 4%;
}
}



@media only screen and (max-device-width: 375px){
  #btnR{
    margin-top: 1px;
    margin-bottom: 5px;
  }
  #responCheckbox{
    position: relative;
    left: 13px;
  }
  .hienthi{
    position: relative;
    top: 19px;
    left: 120px;
  }
  #hienthiOption{
    position: relative;
    bottom: 9px;
    width: 102px;
    left: 185px;
  }
  #btnImport{
    position: relative;
    right: 7px;
  }
  #btnUserAccount{
    margin-top: 1%;
    margin-bottom: 4%;
  }
  #name_school{
    display: none;
  }
  #logo_school{
    position: absolute;
    left: 23%;
  }
  .hienthiOption1{
    position: relative;
    right:21%;
  }
}

@media only screen and (max-width: 408) and (min-width: 370px){
  #name_school{
    display: none;
  }
  #btnUserAccount {
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .hienthiOption1{
    position: relative;
    right:26%;
  }
}


@media only screen and (min-width: 411px) and (max-width:450px){
  #btnImport{
    margin-top: 4px;
  }
  .hienthiOption1{
    position: relative;
    right:26%;
  }
  #responCheckbox{
    position: relative;
    left: 13px;
  }
  .hienthi{
    position: relative;
    top: 20px;
    left: 155px;
  }
  #hienthiOption{
    position: relative;
    bottom: 8px;
    width: 105px;
    left: 221px;
  }
  #btnR{
    margin-top:-3px;
  }
  #name_school{
    display: none;
  }
  #logo_school{
    position: absolute;
    left: 27%;
  }
  #btnUserAccount {
    margin-top: 2%;
    margin-bottom: 4%;
}

}


@media only screen and (max-device-width: 320px){
  #btnR{
    margin-top: 1px;
    margin-bottom: 5px;
  }
  #responCheckbox{
    position: relative;
    left: 13px;
  }
  .hienthi{
    position: relative;
    top: 24px;
    left: 72px;
  }
  #hienthiOption{
    position: relative;
    bottom: 2px;
    width: 102px;
    left: 129px;
    margin-bottom: 2%;
  }
  #btnImport{
    position: relative;
    right: 0px;
  }
  #logo_school{
    position: absolute;
    left: 19%;
  }
  #btnUserAccount {
    margin-top: 2%;
    margin-bottom: 4%;
}
.hienthiOption1{
  position: relative;
  right:226%7%;
}

}


:host /deep/ .multiselect-dropdown .dropdown-btn{
  padding: 6px 5px !important;
}



:host /deep/ .multiselect-dropdown .dropdown-list .item2 .multiselect-item-checkbox input[type=checkbox]{
  width: 0px;
}
