@media only screen and (max-device-width: 2560px){
    #inputIng{
        left: 20px;
        width: 95px;
    }
    #rowGender{
        position: relative;
        top: -15px;
    }
    #rowDob{
        position: relative;
        top: -15px;
    }
    #rowAddress{
        position: relative;
        top: -31px;
        margin-bottom: 0;
    }
    #customRowButton{
        position: relative;
        top: -17px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width:2560px) and (min-width: 992px){
  #customImg{
    float: right;
  }
}
@media only screen and (max-device-width: 1440px){
    #inputIng{
        left: 20px;
        width: 95px;
    }
}
@media only screen and (max-device-width: 1024px){
    #img_url{
        position: relative;
        right: 23px;
    }
    #img{
        position: relative;
        right: 15px;
    }
    #img1{
        position: relative;

    }
}
@media only screen and (max-width: 1200px) and (min-width: 991px){
    #img_url{
        position: relative;
        right: 23px;
    }
    #img{
        position: relative;
        right: 15px;
    }
    #img1{
        position: relative;

    }
    #inputIng{
        left: -4px;
        width: 95px;
    }
}
@media only screen and (max-width: 990px) and (min-width: 500px){
    #proviceId{
        position: relative;
        top: 4px;
    }
    #districtId{
        position: relative;
        top: 23px;
    }
    #wardId{
        position: relative;
        top: 41px;
    }
    #img_url{
        position: relative;
        top: 0px;
        right: 8px;
    }
    #img{
        position: relative;
        top: 3px;
        right: 8px;
    }
    #img1{
        position: relative;
        bottom: 19px;
        right: 14px;
    }
    #inputIng{
        left: 140px;
        width: 95px;
    }
    #rowCode{
        position: relative;

    }
    #rowName{
        position: relative;
        top: -11px;
    }
    #rowGender{
        position: relative;
        top: -37px;
    }
    #rowDob{
        position: relative;
        top: -47px;
    }
    #rowAddress{
        position: relative;
        top: -71px;
        margin-bottom: 0;
    }
    #customRowButton{
        position: relative;
        top: -17px;
        margin-bottom: 0;
    }
    #addressDetail{
        position: relative;
        top: 45px;
    }
  }
  @media only screen and (max-width: 500px) and (min-width: 425px){
    #rowName{
        position: relative;
        top: -11px;
    }
    #rowGender{
        position: relative;
        top: -37px;
    }
    #rowDob{
        position: relative;
        top: -47px;
    }
    #rowAddress{
        position: relative;
        top: -71px;
        margin-bottom: 0;
    }
    #customRowButton{
        position: relative;
        top: -17px;
        margin-bottom: 0;
    }
    #addressDetail{
        position: relative;
        top: 45px;
    }
  }
@media only screen and (max-device-width: 768px){
    #proviceId{
        position: relative;
        top: 4px;
    }
    #districtId{
        position: relative;
        top: 23px;
    }
    #wardId{
        position: relative;
        top: 41px;
    }
    #img_url{
        position: relative;
        top: 0px;
        right: 8px;
    }
    #img{
        position: relative;
        top: 3px;
        right: 8px;
    }
    #img1{
        position: relative;
        bottom: 19px;
        right: 14px;
    }
     #inputIng{
        left: 153px;
        width: 95px;
    }
    #rowCode{
        position: relative;

    }
    #rowName{
        position: relative;
        bottom: -4px;
    }
    #rowGender{
        position: relative;
        bottom: 18px;
    }
    #rowDob{
        position: relative;
        bottom: 20px;
    }
    #rowAddress{
        position: relative;
        bottom: 35px;
    }
    #addressDetail{
        position: relative;
        top: 45px;
    }
    #customRowButton{
        position: relative;
        right: 10px;
    }
}
@media only screen and (max-device-width: 540px){
    #img_url{
        position: relative;
        top: 2px;
        left: 6px;
    }
    #img{
        position: relative;
        top: 4px;
        left: 6px;
    }
    #img1{
        position: relative;
        bottom: 19px;
        right: 0px;
    }
    #inputIng{
        left: 165px;
        width: 95px;
    }
    #rowCode{
        position: relative;
        bottom: -6px;
    }
    #rowName{
        position: relative;
        bottom: -4px;
    }
    #rowGender{
        position: relative;
        bottom: 14px;
    }
    #rowDob{
        position: relative;
        bottom: 15px;
    }
    #rowAddress{
        position: relative;
        bottom: 34px;
    }
    #addressDetail{
        position: relative;
        top: 49px;
    }
    #btnSave{
        position: relative;
    }
    #customRowButton{
        position: relative;
        right: 12px;
    }
}
@media only screen and (max-device-width: 425px){
    #img_url{
        position: relative;
        top: 3px;
        left: 3px;
    }
    #img{
        position: relative;
        top: 7px;
        left: 2px;
    }
    #img1{
        position: relative;
        bottom: 9px;
        right: 0px;
    }
    #inputIng{
        left: 109px;
        width: 95px;
    }
    #rowCode{
        position: relative;
        bottom: -6px;
    }
    /* #rowName{
        position: relative;
        bottom: -4px;
    }
    #rowGender{
        position: relative;
        bottom: 14px;
    }
    #rowDob{
        position: relative;
        bottom: 15px;
    }
    #rowAddress{
        position: relative;
        bottom: 34px;
    }
    #addressDetail{
        position: relative;
        top: 49px;
    }
    #btnSave{
        position: relative;
    }
    #customRowButton{
        position: relative;
        right: 12px;
    } */
    #rowName{
        position: relative;
        top: -6px;
    }
    #rowGender{
        position: relative;
        top: -37px;
    }
    #rowDob{
        position: relative;
        top: -47px;
    }
    #rowAddress{
        position: relative;
        top: -71px;
        margin-bottom: 0;
    }
    #customRowButton{
        position: relative;
        top: -17px;
        margin-bottom: 0;
    }
    #addressDetail{
        position: relative;
        top: 45px;
    }
}
@media only screen and (max-device-width: 411px){
    #proviceId{
        position: relative;
        top: 4px;
    }
    #districtId{
        position: relative;
        top: 24px;
    }
    #wardId{
        position: relative;
        top: 45px;
    }
    #img_url{
        position: relative;
        top: 2px;
        left: 2px;
    }
    #img{
        position: relative;
        top: 2px;
        left: 2px;
    }
    #img1{
        position: relative;
        bottom: 19px;
        right: 1px;
    }
    #inputIng{
        left: 101px;
        width: 95px;
    }
    #rowCode{
        position: relative;
        bottom: -6px;
    }
    #rowName{
        position: relative;
        bottom: -4px;
    }
    #rowGender{
        position: relative;
        bottom: 14px;
    }
    #rowDob{
        position: relative;
        bottom: 15px;
    }
    #rowAddress{
        position: relative;
        bottom: 34px;
    }
    #addressDetail{
        position: relative;
        top: 49px;
    }
    #btnSave{
        position: relative;
    }
    #customRowButton{
        position: relative;
        right: 12px;
    }
}
@media only screen and (max-device-width: 375px){
    #img_url{
        position: relative;
        left: 1px;
    }
    #img{
        position: relative;
        left: 1px;
    }
    #img1{
        position: relative;
        bottom: 14px;
        right: 1px;
    }
    #inputIng{
        left: 85px;
        width: 95px;
    }
    #rowCode{
        position: relative;
        bottom: -6px;
    }
    #rowName{
        position: relative;
        bottom: -5px;
    }
    #rowGender{
        position: relative;
        bottom: 14px;
    }
    #rowDob{
        position: relative;
        bottom: 15px;
    }
    #rowAddress{
        position: relative;
        bottom: 34px;
    }
    #addressDetail{
        position: relative;
        top: 49px;
    }
    #btnSave{
        position: relative;
    }
    #customRowButton{
        position: relative;
        right: 12px;
    }
}
@media only screen and (max-device-width: 360px){
    #img_url{
        position: relative;
        left: 1px;
    }
    #img{
        position: relative;
        left: 1px;
    }
    #img1{
        position: relative;
        bottom: 14px;
        right: 1px;
    }
    #inputIng{
        left: 77px;
        width: 95px;
    }
    #rowCode{
        position: relative;
        bottom: -6px;
    }
    #rowName{
        position: relative;
        bottom: -5px;
    }
    #rowGender{
        position: relative;
        bottom: 14px;
    }
    #rowDob{
        position: relative;
        bottom: 15px;
    }
    #rowAddress{
        position: relative;
        bottom: 34px;
    }
    #addressDetail{
        position: relative;
        top: 49px;
    }
    #btnSave{
        position: relative;
    }
    #customRowButton{
        position: relative;
        right: 12px;
    }
}
@media only screen and (max-device-width: 320px){
    #img{
        position: relative;
        right: 2px;
        top: 2px;
    }
    #img_url{
        position: relative;
        left: -2px;
        top: -4px;
    }
    #img1{
        position: relative;
        bottom: 14px;
        right: 2px;
    }
    #inputIng{
        left: 59px;
        width: 95px;
    }
    #rowCode{
        position: relative;
        bottom: -4px;
    }
    #rowName{
        position: relative;
        bottom: -1px;
    }
    #rowGender{
        position: relative;
        bottom: 19px;
    }
    #rowDob{
        position: relative;
        bottom: 21px;
    }
    #rowAddress{
        position: relative;
        bottom: 39px;
    }
    #addressDetail{
        position: relative;
        top: 49px;
    }
    #btnSave{
        position: relative;
    }
    #customRowButton{
        position: relative;
        right: 12px;
    }
}
@media only screen and (max-device-width: 280px){
    #img{
        position: relative;
        left: 1px;
    }
    #img_url{
        position: relative;
        left: 1px;
    }
    #img1{
        position: relative;
        bottom: 7px;
        left: 2px;
    }
    #inputIng{
        left: 28px;
        width: 95px;
    }
    #rowCode{
        position: relative;
        bottom: -6px;
    }
    #rowName{
        position: relative;
        bottom: -2px;
    }
    #rowGender{
        position: relative;
        bottom: 14px;
    }
    #rowDob{
        position: relative;
        bottom: 15px;
    }
    #rowAddress{
        position: relative;
        bottom: 34px;
    }
    #addressDetail{
        position: relative;
        top: 49px;
    }
    #btnSave{
        position: relative;
    }
    #customRowButton{
        position: relative;
        right: 12px;
    }
}
:host /deep/ .multiselect-dropdown .dropdown-list .item2 .multiselect-item-checkbox input[type=checkbox]{
    /* background-color: red; */
    width: 0px;
  }
