::ng-deep app-summer-training {
  .table{
    th{
      vertical-align: inherit;
    }
    td{
      vertical-align: inherit;
    }

}
  .checkboxTable{
    margin-bottom: 0px;
  }

  #format-text-input input {
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 105%;
    border: transparent;
    background-color: transparent;
  }

  #format-text-input select {
    padding: 5px;
    margin: 5px 0;
    outline: none;
    width: 105%;
    border: transparent;
    background-color: transparent;
  }
  //cho nhập số
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  @media only screen and(min-width: 2560px) {
    .customYear {
      float: left;
      width: 63%;
      max-width: 100%;
    }
    .customClass {
      float: left;
      width: 92%;
      max-width: 92%;
    }
  }
  @media only screen and(max-width: 2559px) {
    .customYear {
      float: left;
      width: 63%;
      max-width: 100%;
    }
    .customClass {
      float: left;
      width: 92%;
      max-width: 92%;
    }
  }
  @media only screen and(max-width: 1912px) {
    .customYear {
      float: left;
      width: 57%;
      max-width: 100%;
    }
    .customClass {
      float: left;
      width: 92%;
      max-width: 92%;
    }
  }

  @media only screen and(max-width: 1515px) {
    .customYear {
      float: left;
      width: 57%;
      max-width: 100%;
    }
    .customClass {
      float: left;
      width: 80%;
      max-width: 87%;
    }
  }

  @media only screen and(max-width: 1440px) {
    .customYear {
      float: left;
      width: 57%;
      max-width: 100%;
    }
    .customClass {
      float: left;
      width: 88%;
      max-width: 88%;
    }
  }
  @media only screen and(max-width: 1024px) {
    .customYear {
      float: left;
      width: 57%;
      max-width: 100%;
    }
    .customClass {
      float: left;
      width: 81%;
      max-width: 88%;
    }
  }
  @media only screen and(max-width: 540px) {
    .customYear {
      float: left;
      width: 100%;
      max-width: 100%;
    }
    .customClass {
      float: left;
      width: 100%;
      max-width: 100%;
    }
    .mess{
      position: relative;
      top: 72px;
      right: 34px;
    }
    .btnFilter {
      margin-top: 1em;
    }
  }
}
