.td_center{
  text-align: center;
  vertical-align: middle;
};

tbody tr td p{
  margin-bottom: 0px;
};

tbody tr td button{
  min-width: 28px;
  max-width: 28px;
};

#holiday_name{
  min-width:90px;
  margin-bottom:0px;
}

.action{
  margin: 2px;
  margin: 2px;
}
